<div class="titulo">
    <h1>El Gamer Shubidubi</h1>
</div>
<nav>
    <hr>
    <div class="container">
        <ul class="menu">
            <li><a href="/"><strong>Inicio</strong></a></li>
            <li><a href="/videojuegos"><strong>Videojuegos</strong></a></li>
            <li><a href="/productos"><strong>Productos</strong></a></li>
            <li><a href=""><strong>Contacto</strong></a></li>
            <li><a href=""><strong>Quienes somos</strong></a></li>
        </ul>
    </div>
</nav>